body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orrange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: 
    none;
    background-image: linear-gradient(salmon,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    box-shadow: 10px 10px 40px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
#web-deb-experience{
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
     border-left: 7px solid;
}
#full-stack-experience{
    border-image: linear-gradient(tomato,salmon);
    border-image-slice: 1;
     border-left: 7px solid;

}
footer p {
    text-align: center;
}